/*  */
:root {
    --font-family: monospace !important;
}

:root[data-mode='dark'] {
    --background-color: #121212 !important;
    --text-color: #e0e0e0 !important;
}

:root[data-mode='light'] {
    --background-color: #ffffff !important;
    --text-color: #000000 !important;
}

table.noborder,
table.noborder > tbody,
table.noborder > tbody > tr,
table.noborder > tbody > tr > td {
    border-color: var(--background-color) !important;
}

div.avatar, div.theme-item, div.light-dark {
    border-color: var(--text-color);
    border-width: 0.3rem;
    border-style: solid;
    border-radius: 50%;
    overflow: clip;
    margin: 1rem;
}

div.theme-item {
    transform: rotate(45deg);
    max-height: 3rem;
    max-width: 3rem;
}

div.theme-item > div.bg,
div.theme-item > div.fg {
    margin: 0;
}

div.light-dark {
    border-width: 0.1rem;
    font-weight: bold;
    display: none; /*none, inline*/
}

div.light-dark:hover {
    cursor: pointer;
}