/* css geral das bolinhas */
div.avatar, div.theme-item, div.light-dark {
    border-color: var(--text-color);
    border-width: 0.3rem;
    border-style: solid;
    border-radius: 50%;
    overflow: clip;
    margin: 1rem;
}

.comparison-box {
    align-items: center;
    display: flex;
    gap: 2rem;
}

.comparison-box > div {
    flex-grow: 1;
    min-width: 360px;

}