/* themes */

:root[data-theme='stolen from stackoverflow'] {
    --c0: #252627;
    --c1: #f7a664;
    --c2: #3f4245;
    --c3: #ffb476;
}

:root[data-theme='black-ish and whitey'] {
    --c0: #eee;
    --c1: #666;
    --c2: #333;
    --c3: #aaa;
}

:root[data-theme='neighbor grass'] {
    --c0: #afefba;
    --c1: #0b3b14;
    --c2: #0b3b14;
    --c3: #afefba;
}

:root[data-theme='light gruvbox'] {
    --c0: #ebdbb2;
    --c1: #282828;
    --c2: #282828;
    --c3: #ebdbb2;
}

:root[data-theme='bananas from brazil'] {
    --c0: #f3db76;
    --c1: #003300;
    --c2: #003300;
    --c3: #f3db76;
}

:root[data-theme='pink panther'] {
    --c0: #ffd4dc;
    --c1: #b61785;
    --c2: var(--c1);
    --c3: var(--c0);
}

:root[data-theme='alucard'] {
    --c0: #ffd4dc;
    --c1: #b61785;
    --c2: var(--c1);
    --c3: var(--c0);
}

:root[data-theme='moccatino'] {
    --c0: #523b3b;
    --c1: #f8ede3;
    --c2: var(--c1);
    --c3: var(--c0);
}

:root[data-theme='dusk and green'] {
    --c0: #0e3a5c;
    --c1: #d2d27a;
    --c2: var(--c1);
    --c3: var(--c0);
}

:root[data-theme='dark graffitti'] {
    --c0: #334;
    --c1: #eee;
    --c2: var(--c1);
    --c3: var(--c0);
}

:root[data-theme='dark gruvbox'] {
    --c0: #282828;
    --c1: #ebdbb2;
    --c2: var(--c1);
    --c3: var(--c0);
}

:root[data-theme='army thing'] {
    --c0: #1a3814;
    --c1: #A4AA88;
    --c2: var(--c1);
    --c3: var(--c0);
}

:root[data-theme='the night dive'] {
    --c0: #262b2c;
    --c1: #32a0ad;
    --c2: var(--c1);
    --c3: var(--c0);
}

:root[data-theme='solarized-ish'] {
    --c0: #002b36;
    --c1: #268bd2;
    --c2: var(--c1);
    --c3: var(--c0);
}

:root[data-theme='blue orange'] {
    --c0: #030e57;
    --c1: #E65A27;
    --c2: var(--c1);
    --c3: var(--c0);
}

:root[data-theme='ripe avocado'] {
    --c0: #1c3232;
    --c1: #ffee55;
    --c2: var(--c1);
    --c3: var(--c0);
}

:root[data-theme='pink panther dark'] {
    --c0: #191f2c;
    --c1: #eb55d9;
    --c2: var(--c1);
    --c3: var(--c0);
}

:root[data-theme='crimson king'] {
    --c0: #26210d;
    --c1: #E7262c;
    --c2: var(--c1);
    --c3: var(--c0);
}

:root[data-theme='blueprint'] {
    --c0: #13005a;
    --c1: #bccef8;
    --c2: var(--c1);
    --c3: var(--c0);
}

:root[data-theme='retrowave'] {
    --c0: #2a2139;
    --c1: #cbff00;
    --c2: var(--c1);
    --c3: var(--c0);
}

:root[data-theme='old cp/m crt'] {
    --c0: #000;
    --c1: #00ff00;
    --c2: var(--c1);
    --c3: var(--c0);
}
