mixin copy()
    style.
        .center-footer {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
    div.center-footer
        footer
            span &copy;
            span &nbsp;
            span.ano 2025
            span &nbsp;
            span Sombriks
    script.
        const ano = new Date().getFullYear()
        document.querySelector('span.ano').innerText = ano
