mixin ga()
  script(async src="https://www.googletagmanager.com/gtag/js?id=308868477")/
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '308868477');