mixin light-dark()
  div.light-dark.dark(onclick="toggleLightDark('dark')") 🌛︎︎
  div.light-dark.light(onclick="toggleLightDark('light')") 🌞︎︎
  script(type="application/javascript").

    const toggleLightDark = mode => {
      document.querySelector(`.dark`).style.display = 'inline';
      document.querySelector(`.light`).style.display = 'inline';
      document.querySelector(`.${mode}`).style.display = 'none';
    }

    const tema = e => {
      console.log('tema change detected');
      if (e.matches) {
        document.querySelector(":root").dataset.tema = "dark";
        toggleLightDark('dark');
      } else {
        document.querySelector(":root").dataset.tema = "light";
        toggleLightDark('light');
      }
    }

    const matchMedia = window.matchMedia('(prefers-color-scheme: dark)');
    matchMedia.onchange = tema;
    tema(matchMedia);
