mixin light-dark()
  style.
    div.light-dark {
      border-width: 0.1rem;
      font-weight: bold;
      min-width: 1rem;
      display: none; /*none, inline*/
    }

    div.light-dark:hover {
      cursor: pointer;
    } 

  div.light-dark.light-dark-dark(onclick="toggleLightDark('dark')") 🌛︎︎
  div.light-dark.light-dark-light(onclick="toggleLightDark('light')") 🌞︎︎

  script(type="application/javascript").
    const toggleLightDark = mode => {
      document.querySelector(`.light-dark-dark`).style.display = 'inline';
      document.querySelector(`.light-dark-light`).style.display = 'inline';
      document.querySelector(`.light-dark-${mode}`).style.display = 'none';
      document.querySelector(":root").dataset.mode = mode;
      localStorage.setItem('mode', mode);
    }

    const tema = e => {
      if (e.matches) {
        toggleLightDark('dark');
      } else {
        toggleLightDark('light');
      }
    }

    const matchMedia = window.matchMedia('(prefers-color-scheme: dark)');
    matchMedia.onchange = tema;
    const savedMode = localStorage.getItem('mode');
    if (savedMode) toggleLightDark(savedMode);
    else tema(matchMedia);
