mixin main-menu()
    ul.tree
        li
            a(href="/") Start
            ul.incremental
                li
                    a(href="/bio") Bio
                li
                    a(href="/blog") Blog
                li
                    a(href="/experiments") Experiments
                li
                    a(href="/links") Links
                li
                    a(href="/privacy") Privacy
                li
                    a(href="/feed.xml") RSS
