mixin page-title(prefix='Sombriks HQ - ')
  -
    const pageTitle = prefix + content
    .split("</h1>")[0]
    .split("<h1>")[1]
  title= pageTitle
  meta(property="twitter:title" content=pageTitle)/
  meta(property="og:title" content=pageTitle)/
  meta(property="title" content=pageTitle)/