-
  const pageTags = [...tags].filter(t => t !== 'posts')
mixin page-tags()
  each tag in pageTags
    span
      a(href=`/blog/?search=${tag}`)= tag
      i &nbsp;
  p= (date || new Date()).toISOString().slice(0, 10)