mixin page-tags()
  -
    const d = (date || new Date()).toISOString().slice(0, 10)
    const pageTags = tags
      .filter(t => t !== 'posts')
      .map(t => ({label:t, link:t}))
    //- add date as first tag
    pageTags.splice(0, 0, {label:d, link:d.slice(0,4)})
  style.
    .post-tags {
      display: flex;
      flex-wrap: wrap;
    }
    .post-tags>span {
      margin-top: 0;
    }
  p
    i &nbsp;
  .post-tags
    span
    each tag in pageTags
      span
        a(href=`/blog/?search=${tag.link}`)= tag.label
        i &nbsp;
