include ./theme-chooser
include ./light-dark
mixin sticky-bar()
  style.
    .sticky-bar {
      top: 0;
      display: flex;
      margin-top: 0;
      z-index: 10000;
      position: sticky;
      align-items: center;
      background-color: var(--background-color);
      box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    }
    .sticky-bar>div {
      margin-top: 0;
    }
    .grow {
      flex-grow: 1;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  div.sticky-bar
    .grow
      -
        const menu = {
          "_Start": "/",
          "About": "/about",
          "Bio": "/bio",
          "Blog": "/blog",
          "Contact": "/contact",
          "Experiments": "/experiments",
          "Links": "/links",
          "Privacy": "/privacy",
          "RSS": "/feed.xml"
        }
      div 
        // empty div fixes css issue 
      each l in Object.keys(menu) 
        div
          i &nbsp;
          a(href=menu[l])=l
    div
      +light-dark
    div
      +theme-chooser