
$color1: gray;

.container {
  color: $color1;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-width: 1920) {
    justify-content: center;
  }

}

.row {
  flex-grow: 1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;   
  align-content: space-between;
  justify-content: stretch;
  @media (min-width:  1920) {
    min-width: 1280;
  }
  @media (min-width:  1440) {
    min-width: 1024;
  }
  @media (min-width:  1280) {
    min-width: 960;
  }
  @media (min-width:  800) {
    min-width: 720;
  }
  @media (max-width:  799) {
    width: 100%;
  }
  
}