@import "../assets/css/roboto-material-icons.css";
@import "../node_modules/vuetify/dist/vuetify.min.css";
@import "../node_modules/highlight.js/styles/darcula.css";

html,
body {
  background-color: black;
  color: white;
  /* overflow: hidden; */
  margin: 0px;
  font-family: Courier New, Courier, monospace;
}

/* body {
  background-image: url(../assets/backgrounds/2014-07-06_17.40.35.jpg);
  background-size: cover;
  background-repeat: repeat-y;
  min-height: 100%;
} */

a {
  min-height: 30px;
  margin: 7px 7px 7px 7px;
  padding: 5px 5px 5px 5px;
  line-height: 30px;
  /* border: 1px groove white;
  border-radius: 5px; */
  color: white !important;
}

li {
  min-height: 30px;
}

pre {
  background-color: #222222;
}

pre>code {
  background-color: #222222 !important;
  width: 100%;
}