
html,body{
  background-color:black;
  color:white;
  /* overflow: hidden; */
  margin: 0px;
  font-family: Courier New, Courier, monospace;
}
a {
  min-height: 30px;
  margin: 10px 10px 10px 10px;
  padding: 5px 5px 5px 5px;
  border: 1px groove white;
  border-radius: 5px;
  color: white;
}

li {
  min-height: 30px;
}