doctype html
html
    head
        title Sombriks has a plan
        meta(charset="UTF-8")/
        meta(name="robots" content="index, follow")/
        meta(name="viewport" content="width=device-width, initial-scale=1.0")/
        link(rel="icon" href="/logo.png")/
        link(rel="favicon" href="/favicon.ico")/
        link(rel='stylesheet' href='/the-monospace-web/reset.css')/
        link(rel='stylesheet' href='/the-monospace-web/index.css')/
        link(rel='stylesheet' href='/sombriks.css')/
        link(rel='stylesheet' href='/themes.css')/
        script(type="application/javascript" src="/sombriks.js")
    body!= content
