include ../components/copy
include ../components/my-themes
include ../components/sticky-bar
doctype html
html
    head
        title Sombriks has a plan
        meta(charset="UTF-8")/
        meta(name="robots" content="index, follow")/
        meta(name="viewport" content="width=device-width, initial-scale=1.0")/
        link(rel="icon" href="/logo.png")/
        link(rel="favicon" href="/favicon.ico")/
        link(rel='stylesheet' href='/the-monospace-web/reset.css')/
        link(rel='stylesheet' href='/the-monospace-web/index.css')/
        //- base themes  
        //- link(rel='stylesheet' href='/prismjs/prism-coy.css')/
        //- link(rel='stylesheet' href='/prismjs/prism-dark.css')/
        //- link(rel='stylesheet' href='/prismjs/prism-funky.css')/
        //- link(rel='stylesheet' href='/prismjs/prism-okaidia.css')/
        //- link(rel='stylesheet' href='/prismjs/prism-solarizedlight.css')/
        //- link(rel='stylesheet' href='/prismjs/prism-tomorrow.css')/
        //- link(rel='stylesheet' href='/prismjs/prism-twilight.css')/
        //- link(rel='stylesheet' href='/prismjs/prism.css')/
        //- extra themes
        //- link(rel='stylesheet' href='/prism-themes/prism-a11y-dark.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-atom-dark.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-base16-ateliersulphurpool.light.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-cb.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-coldark-cold.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-coldark-dark.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-coy-without-shadows.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-darcula.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-dracula.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-duotone-dark.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-duotone-earth.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-duotone-forest.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-duotone-light.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-duotone-sea.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-duotone-space.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-ghcolors.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-gruvbox-dark.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-gruvbox-light.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-holi-theme.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-hopscotch.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-lucario.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-material-dark.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-material-light.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-material-oceanic.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-night-owl.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-nord.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-one-dark.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-one-light.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-pojoaque.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-shades-of-purple.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-solarized-dark-atom.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-synthwave84.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-vsc-dark-plus.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-vs.css')/
        link(rel='stylesheet' href='/prism-themes/prism-xonokai.css')/
        //- link(rel='stylesheet' href='/prism-themes/prism-z-touch.css')/


        +my-themes
        link(rel='stylesheet' href='/sombriks.css')/
        script(type="application/javascript" src="/sombriks.js")
        block base-ead
    body
        +sticky-bar()
        block base-body
        +copy()