doctype html
html
    head
        title Sombriks has a plan
        meta(name="viewport" content="width=device-width, initial-scale=1.0")/
        link(rel='stylesheet' href='/the-monospace-web/reset.css')/
        link(rel='stylesheet' href='/the-monospace-web/index.css')/
        link(rel='stylesheet' href='/sombriks.css')/
        script(type="application/javascript" src="/sombriks.js")
    body!= content
